@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

html {
    font-family: "Lato", sans-serif;
  }

  .container {
    height: 300px;
    width: 300px;
    border: 1px solid blue;
    border-radius: 5px;
    margin: 10rem auto;
    text-align: center;
    background: linear-gradient(rgba(143, 143, 210, 0.749), rgba(33, 31, 31, 0.74)),
    url('../images/1.jpg');
    background-size: cover;
    background-position: center;
  }

  .container > input, .container button{
    display: block;
    margin: 1rem auto;
  }

  .container button {
    width: 5rem;
    padding: 0.3rem;
    color: aliceblue;
    background-color: rgba(33, 33, 61, 0.792);
  }

.container h3 {
    margin: 2rem;
    color: aliceblue;
    text-transform: capitalize;
}

.container p {
    color: aliceblue;
    font-size: 1.5rem;
}